*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

html {
  block-size: 100%;
}

.page {
  display: grid;  
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content{
  display: flex;
  align-items: flex-end;
  gap: 30px; 
  inline-size: 1140px;
} 

.button{
  font-size: 18px;
  font-family: inherit;
  border: none;
  border: #fff solid 1px;
  color: #fff;
  background: transparent;
  padding: 6px 0;
}

/*Result*/
.result__video-container{
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video{
  width: 100%;
  height: 100%;  
  object-fit: cover;
}

/*Search form*/
fieldset{
  border: 0;
}

.search-form__fieldset-title{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
}

.search-form__label{
  display: flex;
  width: fit-content;
}

.search-form__textfield{
  border: none;
  background-color: transparent;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  font-family: inherit;
  font-size: 18px; 
  color: #fff;
  width: 225px;
  border-radius: 0;
  appearance: none;
  min-block-size: 27px;
}

.search-form__textfield:active{
  border: 1px solid #fff;
}

.search-form__textfield:focus{
  outline: none;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;    
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

/*Checkbox*/
.search-form__label{  
  display: flex;
  justify-content: center;
  align-items: center;    
  gap: 7px;
}

.search-form__label:hover{
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.search-form__label:has(:focus-visible){
  outline: 1px #fff solid;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after{
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  /* display: block;    */
}

.search-form__pseudo-checkbox{
  cursor: pointer;
  border: #fff 1px solid;
  width: 19px;
  height: 19px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Submit*/

.search-form__submit-button{
  color: #fff; 
  background-color: transparent;
  width: 194px;
  align-self: flex-end;
}

.button:active{
  background-color: #545050;
}

.button:hover{
  text-decoration: underline;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.button:focus-visible{  
  outline: 1px #fff solid;  
}


/*Content details*/
.content__details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title{
  line-height: 94%;  
  font-size: 75px; 
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__list-container{  
  block-size: 298px;
  overflow: auto; 
  position: relative;
}

.content__list{ 
  margin-block-end: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;              
}

/* .content__list-item:not(:nth-last-of-type){
  margin-bottom: 30px !important;
} */

.content__card-link{
  text-decoration: none;
  color: #fff;
}

.content__video-card-title{
  text-transform: uppercase;  
  /* line-clamp: 1;   */
}

.content__video-card:active{
  background-color: #545050;
}

.content__video-card:hover{
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card:focus{
  outline: 1px #fff solid;
}

.content__video-card-description-container{
  flex-grow: 1;    
}

.content__video-card-description{  
  line-height: 16px;  
}

.content__video-card{
  display: flex;
  align-items: flex-start;  
}

.content__video-card-thumbnail{
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button{
  inline-size: 100%;
  min-block-size: 34px;  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
